<div class="admin-container">
    <h2>Create plans</h2>
    <br>
    <button id="planCreationButton" class="createPlanButton">CLICK TO OPEN THE PLAN CREATION FORM</button>
    <br>
    <section class="planCreationForm hidden" id="planCreationForm"></section>
    <h2>All available plans:</h2>
    <p>In this section you will be able to view and delete the plans.</p>
    * Available for all states or months
    <div class="query-form-all-plans">
        <section id="renderedAdminPlans"></section>
    </div>
</div>
