.adminContainer {
  margin: 5vh 0 5vh 0;
  min-height: 50vh;
  font-family: "Raleway", Helvetica, Arial, sans-serif !important;
}

.queryFormAllPlans {
  margin: 2vh 0 2vh 0;
  display: flex;
  flex-direction: column;
}

.queryResultItemDelete,
.queryResultItemDelete:hover {
  font-weight: bold;
  font-size: 0.7rem;
  cursor: pointer;
  width: 10%;
  height: 10%;
  background-color: transparent;
  border: 1px solid;
  margin: auto;
  border-radius: 50px;
  color: white;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.queryResultItemCreate,
.queryResultItemCreate:hover {
  font-weight: bold;
  font-size: 0.7rem;
  cursor: pointer;
  width: 10%;
  height: 10%;
  background-color: transparent;
  border: 1px solid;
  margin: auto;
  border-radius: 50px;
  color: white;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 600px) {
  .queryResultItem input,
  .queryResultItem select {
    max-width: 90px;
  }

  .formItem {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 5px;
  }

  .queryForm {
    margin: 2vh 0 2vh 0;
    display: grid;
    grid-template-columns: auto auto;
  }
}

.queryResultPlans {
  margin: 5vh 0 2vh 0;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
}

.createPlanButton {
  margin: 0 0 5vh 0;
  cursor: pointer;
  background-image: url("../../assets/dropdown_arrow_down.svg");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: calc(100% - 13px);
}

.createPlanButtonOpen {
  margin: 0 0 5vh 0;
  cursor: pointer;
  background-image: url("../../assets/dropdown_arrow_up.svg");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: calc(100% - 13px);
}

.planCreationForm {
  margin: 0 0 4vh 0;
}

.planCreationContainer {
  display: flex;
}

.planCreationContainer input {
  width: 80px;
}

.planCreationContainer select {
  width: 120px;
}

.planCreationItem {
  margin: 1px;
  flex: 50%;
  align-items: center;
  justify-content: center;
  position: relative;
}

.planCreationItem input:focus + label,
.planCreationItem input:valid + label {
  width: 60px;
  height: 20px;
  font-size: 11px;
  left: 3px;
  top: -5px;
}

.planCreationItem label {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  position: absolute;
  cursor: text;
  z-index: 2;
  top: 13px;
  left: 10px;
  width: 30px;
  height: 25px;
  font-size: 12px;
  font-weight: bold;
  background: #fff;
  padding: 0 10px;
  color: #999;
  transition: all 0.3s ease;
}
