<div class="adminContainer">
  <h2>Create plans</h2>
  <p>
    Click on the button bellow to start filling the form for creating plans.
  </p>
  <br />
  <button id="planCreationButton" class="createPlanButton">
    CLICK TO OPEN THE PLAN CREATION FORM
  </button>
  <br />
  <section class="planCreationForm hidden" id="planCreationForm"></section>
  <h2>All available plans:</h2>
  <p>
    In this section you will be able to view and delete the plans. Click on the
    "X" to delete a plan.
  </p>
  * Available for all states or months
  <div class="queryFormAllPlans">
    <section id="renderedAdminPlans"></section>
  </div>
</div>
