<p>Website main content goes here.</p>
<p>
  A Little bit jaggy, eh? Even using translate3d this appears jittery. A
  better approach for a smoother motion seems to be to translate the
  main content OR the menu.
</p>
<p>
  Keeping the transition time under .2s helps as well. At least for the
  eyes.
</p><p>Website main content goes here.</p>
<p>
  A Little bit jaggy, eh? Even using translate3d this appears jittery. A
  better approach for a smoother motion seems to be to translate the
  main content OR the menu.
</p>
<p>
  Keeping the transition time under .2s helps as well. At least for the
  eyes.
</p><p>Website main content goes here.</p>
<p>
  A Little bit jaggy, eh? Even using translate3d this appears jittery. A
  better approach for a smoother motion seems to be to translate the
  main content OR the menu.
</p>
<p>
  Keeping the transition time under .2s helps as well. At least for the
  eyes.
</p><p>Website main content goes here.</p>
<p>
  A Little bit jaggy, eh? Even using translate3d this appears jittery. A
  better approach for a smoother motion seems to be to translate the
  main content OR the menu.
</p>
<p>
  Keeping the transition time under .2s helps as well. At least for the
  eyes.
</p><p>Website main content goes here.</p>
<p>
  A Little bit jaggy, eh? Even using translate3d this appears jittery. A
  better approach for a smoother motion seems to be to translate the
  main content OR the menu.
</p>
<p>
  Keeping the transition time under .2s helps as well. At least for the
  eyes.
</p>